* {
    box-sizing: border-box;
    outline: none;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    height: 100%;
}

body {
    color: $dark;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $body-bg;
    font-size: 14px;
    line-height: $line-height-base;
    font-family: $font-family-sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .75rem;
}

p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p, hr, ul {
    margin: 0 0 1rem;
}

a, .link {
    padding: 0;
    border: none;
    line-height: 1;
    display: inline;
    color: lighten($primary, 5%);
    text-decoration: none;
    font-size: $font-size-base;
    background-color: transparent;
    font-family: $font-family-sans-serif;
    &:hover {
        text-decoration: underline;
        color: darken($primary, 5%);
    }
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #eee;
}

@include media('md') {
    body {
        padding-top: 30px;
    }
    
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;

    }

    h4 {
        font-size: 1rem;

    }

    h5 {
        font-size: 0.8rem;

    }

    h6 {
        font-size: 0.6rem;
    }
}