.row {
    width: 100%;
    padding: 0 15px;
    @include clearfix;
}

.container {
    min-height: 0;
    width: 1000px;
    margin: 0 auto;
    @include clearfix;
    &__fluid {
        width: 100%;
    }
}

@include media('md') {
    .container {
        width: map-get($screen-size, 'md');
    }

    .row {
        padding: 0 10px;
        .row {
            padding: 0 5px;
        }
    }
}
