@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin media($media) {
    @if map-has-key($breakpoints, $media) {
        @media only screen and (max-width: map-get($breakpoints, $media)) {
            @content;
        }
    }
}