@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin media($media) {
    @if map-has-key($breakpoints, $media) {
        @media only screen and (max-width: map-get($breakpoints, $media)) {
            @content;
        }
    }
}

@mixin input-base() {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid lighten($primary, 20%);
}