@import "../../../sass/variables";
@import "../../../sass/mixins";
.post-editor--mobile {
    z-index: +1;
    width: 100%;
    height: 100%;
    position: relative;
    &__body {
        padding: 0;
        overflow-y: auto;
        position: relative;
        height: calc(100% - 50px);
    }

    &__footer {
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        position: absolute;
    }

    .paper {
        width: 100%;
        height: 100%;
        z-index: +1;
        position: relative;
        textarea {
            padding: 15px 15px 30px;
            width: 100%;
            height: 100%;
            border: 0;
            resize: none;
            font-size: 18px;
            line-height: 1.5;
        }
    }

    .preview {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: +2;
        position: absolute;
        background-color: rgba(255, 255, 255, .9);
    }

    .panels {
        z-index: +3;
        padding: 15px;
        overflow-y: auto;
        position: relative;
        max-height: 50vh;
        border-top: 1px solid $primary;
        background-color: rgba(255, 255, 255, .9);
    }
}